.contacts {
  background-color: $color-white;
}
.contacts__title {
  font: 300 24px/29px "Open Sans";
  color: $font-color-base;
}
.contacts__name {
  font: 700 18px/25px "Open Sans";
  color: $font-color-base;
}
.contacts__info {
  font: 300 24px/33px "Open Sans";
  color: $color-pink;
}
