.downnload {
  background-image: url("/img/back-mob.jpg");
  color: $font-color-light;
}

.downnload__title {
  font-weight: 300;
  font-size: $font-size-big;
  line-height: 1.2;
}

.downnload__item {
  color: $font-color-light;
}

.downnload__text {
  font-weight: 300;
  font-size: $font-size-base;
  line-height: 1.71;
}

.downnload__button {
  color: $color-white;
  font-size: $font-size-middle;
  line-height: 1;
  border: 3px solid $color-white;
  box-sizing: border-box;
  border-radius: 29px;
}
