.intro {
  background-color: $color-white;
  background-image: url("/img/back-mob.jpg");
}

.intro__title {
  color: $color-white;
  font-weight: 300;
  font-size: $font-size-big;
  line-height: 1.37;
}
