.page-header__logo-pink path {
  color: $color-white;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  color: $font-color-base;
}

.page-header__menu {
  background-color: transparent;
  border: none;
}

.page-header__menu-brg {
  color: $color-white;
}
