.page-footer__logo-glasses-footer path {
  fill: $color-pink;
}

.page-footer__logo-pink-footer path {
  fill: $font-color-base;
}

.social__link path {
  fill: $color-pink;
}

.copyright__text {
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 18px;
  color: $font-color-base;
}

.copyright__link path {
  fill: $color-pink;
}
