.rate {
  text-transform: uppercase;
}
.rate__table {
  border: 2px solid $color-grey-light;
  border-collapse: collapse;
}
.rate__table-title {
  border: 2px solid $color-grey-background;
  background-color: $color-table-dark;
  font:700 16px/30px "Open Sans";
  color: $font-color-light;
  border-bottom: none;
}
.rate__table-price {
  border: 2px solid $color-grey-background;
  background-color: $color-table-dark;
  font:300 14px/30px "Open Sans";
  color: $font-color-light;
  border-top: none;
}
.rate__table-td {
  background-color: $color-white;
  border: 2px solid $color-grey-light;
  border-right: none;
  font:300 14px/30px "Open Sans";
  color: $font-color-base;
}
.rate__option {
  border-left:none;
}
.rate__ok path {
  fill: $color-ok;
}
.rate__no path {
  fill: $color-no;
}
