/*Colors*/

$color-black: #000000;
$color-blue: #1d2631;
$color-white: #ffffff;
$color-table-dark: #283645;
$color-grey-light: #e5e5e5;
$color-grey-background: #f2f2f2;
$color-pink: #d22856;
$color-no: #f25b26;
$color-grey: #f2f2f2;
$color-ok: #2aab6d;

/*Font*/
$font-family-base: "Open Sans", "Arial", sans-serif;
$font-size-base: 14px;
$font-size-middle: 18px;
$font-size-big: 24px;
$line-height-base: 24px;
$font-color-title: $color-black;
$font-color-base: $color-table-dark;
$font-color-light: $color-white;
