// Начните писать стили здесь
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@import "global/colors.scss";
@import "global/fonts.scss";
// Blocks
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/downnload.scss";
@import "blocks/intro.scss";
@import "blocks/advantages.scss";
@import "blocks/page-main.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/rate.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
